<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_format">
        <observer name="address_street_to_one_line" instance="Murergrej\AddressFormat\Observer\CustomerAddressFormatObserver" />
    </event>
</config>
