<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryCatalogAdminUi\Observer\ProcessSourceItemsObserver">
        <plugin name="murergrej_stock" type="Murergrej\Stock\Plugin\ProcessSourceItemsObserverPlugin"/>
    </type>
</config>
