<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Murergrej\CheckoutRest\Api\CheckoutManagementInterface" type="Murergrej\CheckoutRest\Model\CheckoutManagement"/>
  <preference for="Murergrej\CheckoutRest\Api\GuestIdManagementInterface" type="Murergrej\CheckoutRest\Model\GuestIdManagement"/>
</config>
