<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <murergrej_stock>
            <low_stock_notification>
                <active>0</active>
                <qty>0</qty>
                <email>
                    <recipient_email>
                        <![CDATA[hello@example.com]]>
                    </recipient_email>
                    <sender_email_identity>1</sender_email_identity>
                    <email_template>murergrej_stock_low_stock_notification_email_email_template</email_template>
                </email>
            </low_stock_notification>
        </murergrej_stock>
    </default>
</config>
